Source: autopilot-qt
Priority: extra
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
XSBC-Original-Maintainer: Michael Zanetti <michael.zanetti@canonical.com>
Build-Depends: debhelper (>= 9),
               libgl1-mesa-dev,
               libgles2-mesa-dev,
               libqt4-dev,
               libxpathselect-dev (>= 1.4),
               mesa-common-dev,
               pkg-config,
               qt4-qmake,
               qt5-qmake,
               qtbase5-dev,
               qtchooser,
               qtdeclarative5-dev,
               xvfb,
Standards-Version: 3.9.4
Section: libs
Homepage: https://launchpad.net/autopilot-qt
# If you aren't a member of ~autopilot but need to upload
# packaging changes, just go ahead. ~autopilot will notice
# and sync up the code again.
Vcs-Bzr: https://code.launchpad.net/~autopilot/autopilot-qt/trunk
Vcs-Browser: https://bazaar.launchpad.net/~autopilot/autopilot-qt/trunk/files

Package: libautopilot-qt
Section: libs
Architecture: any
Depends: libxpathselect1.4,
         python-autopilot (>= 1.4) | python3-autopilot (>= 1.4),
         ${misc:Depends},
         ${shlibs:Depends},
Replaces: autopilot-qt,
          autopilot-qt5,
Conflicts: autopilot-qt,
           autopilot-qt5,
Provides: autopilot-qt,
          autopilot-qt5,
Recommends: python-autopilot,
Description: This project makes Qt applications introspectable by autopilot.
 This allows autopilot to test any existing Qt4 or Qt5 application,
 without having to rebuild the application under test.

Package: libautopilot-qt-autopilot
Section: libs
Architecture: any
Depends: libautopilot-qt (>= ${source:Version}),
         python-autopilot,
         python-support (>= 0.90),
         ${misc:Depends},
         ${shlibs:Depends},
Description: Autopilot tests for libautopilot-qt
 This contains sample Qt4 and Qt5 apps and autopilot tests
 to test libautopilot-qt.
