Source: libautopilot-qt
Priority: extra
Maintainer: Michael Zanetti <michael.zanetti@canonical.com>
Build-Depends: debhelper (>= 8.0.0), libindicate-qt-dev, pkg-config, qt4-qmake, libqt4-dev, qtbase, qtdeclarative, libxpathselect-dev, mesa-common-dev, libgl1-mesa-dev, libgles2-mesa-dev
Standards-Version: 3.9.3
Section: libs
Homepage: https://launchpad.net/autopilot-qt

Package: libautopilot-qt
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: python-autopilot
Description: This project makes Qt applications introspectable by autopilot.
 This allows autopilot to test any existing Qt4 or Qt5 application,
 without having to rebuild the application under test.
