Source: autopilot-qt
Priority: extra
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
XSBC-Original-Maintainer: Michael Zanetti <michael.zanetti@canonical.com>
Build-Depends: debhelper (>= 9),
               libgl1-mesa-dev,
               libgles2-mesa-dev,
               libqt4-dev,
               libxpathselect-dev (>= 1.4),
               mesa-common-dev,
               pkg-config,
               qt4-qmake,
               qt5-qmake,
               qtbase5-dev,
               qtchooser,
               qtdeclarative5-dev,
               xvfb,
Standards-Version: 3.9.4
Section: libs
Homepage: https://launchpad.net/autopilot-qt
# If you aren't a member of ~autopilot but need to upload
# packaging changes, just go ahead. ~autopilot will notice
# and sync up the code again.
Vcs-Bzr: https://code.launchpad.net/~autopilot/autopilot-qt/trunk
Vcs-Browser: https://bazaar.launchpad.net/~autopilot/autopilot-qt/trunk/files

Package: libautopilot-qt
Section: libs
Architecture: any
Depends: autopilot-qt4,
         autopilot-qt5,
         qttestability-autopilot,
         ${misc:Depends},
         ${shlibs:Depends},
Description: make Qt applications introspectable by autopilot
 autopilot-qt allows autopilot to test any existing Qt application, without
 having to rebuild the application under test.
 .
 This is a compatibility package depending on both the Qt4 and Qt5 drivers.

Package: autopilot-qt4
Section: libs
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
Replaces: autopilot-qt, libautopilot-qt (<< 1.4+14.10.20140724.1-0ubuntu2)
Conflicts: autopilot-qt
Breaks: libautopilot-qt (<< 1.4+14.10.20140724.1-0ubuntu2)
Provides: autopilot-qt
Description: make Qt applications introspectable by autopilot - Qt4 plugin
 autopilot-qt allows autopilot to test any existing Qt application, without
 having to rebuild the application under test.
 .
 This package provides the driver used for packages built against Qt4.

Package: autopilot-qt5
Section: libs
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
Replaces: autopilot-qt5, libautopilot-qt (<< 1.4+14.10.20140724.1-0ubuntu2)
Conflicts: autopilot-qt5
Breaks: libautopilot-qt (<< 1.4+14.10.20140724.1-0ubuntu2)
Provides: autopilot-qt5
Description: make Qt applications introspectable by autopilot - Qt5 plugin
 autopilot-qt allows autopilot to test any existing Qt application, without
 having to rebuild the application under test.
 .
 This package provides the driver used for packages built against Qt5.

Package: qttestability-autopilot
Section: libs
Architecture: any
Depends: libxpathselect1.4,
	 python3-autopilot (>= 1.4),
         autopilot-qt5 | autopilot-qt4
         ${misc:Depends},
         ${shlibs:Depends}
Recommends: python-autopilot
Replaces: libautopilot-qt (<< 1.4+14.10.20140724.1-0ubuntu2)
Breaks: libautopilot-qt (<< 1.4+14.10.20140724.1-0ubuntu2)
Description: make Qt applications introspectable by autopilot
 autopilot-qt allows autopilot to test any existing Qt application, without
 having to rebuild the application under test.
 .
 This package provides the qttestability library, which requires the
 matching autopilot-qt4 or autopilot-qt5 driver package installed for the
 application under test.

Package: libautopilot-qt-autopilot
Section: libs
Architecture: any
Depends: libautopilot-qt (>= ${source:Version}),
         python-autopilot,
         python-support (>= 0.90),
         ${misc:Depends},
         ${shlibs:Depends},
Description: Autopilot tests for libautopilot-qt
 This contains sample Qt4 and Qt5 apps and autopilot tests
 to test libautopilot-qt.
