#!/usr/bin/make -f

export DPKG_GENSYMBOLS_CHECK_LEVEL=4

%:
	dh $@

override_dh_auto_configure:
	mkdir qt4
	mkdir qt5
	cd qt4 && qmake -qt=qt4 ../autopilot-qt.pro
	cd qt5 && qmake -qt=qt5 ../autopilot-qt.pro

override_dh_auto_build:
	cd qt4 && make
	cd qt5 && make

override_dh_clean:
	dh_clean
	rm -rf qt4
	rm -rf qt5

override_dh_install:
	dh_install --fail-missing
